<!DOCTYPE html>
<html lang="en" xmlns:https="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <title>Shumba Money Exchange Rate Calculator</title>

  <!-- Bootstrap icons-->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
  <!-- Core theme CSS (includes Bootstrap)-->
  <link rel="stylesheet" th:href="@{/styles.css}" />


    <link href="https://www.gstatic.com/charts/loader.js" rel="script">
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js">
    </script>

</head>
<body class="d-flex flex-column h-100">
<main class="flex-shrink-0">
  <!-- Navigation-->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <img th:src="@{/images/original.4badf7ad.png}" />
    <div class="container px-5">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item"><a class="nav-link" href="index.html">Home</a></li>
          <li class="nav-item"><a class="nav-link" href="about.html">About</a></li>
          <li class="nav-item"><a class="nav-link" href="contact.html">Contact</a></li>
          <li class="nav-item"><a class="nav-link" href="pricing.html">Pricing</a></li>
          <li class="nav-item"><a class="nav-link" href="faq.html">FAQ</a></li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="navbarDropdownBlog" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Blog</a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownBlog">
              <li><a class="dropdown-item" href="blog-home.html">Blog Home</a></li>
              <li><a class="dropdown-item" href="blog-post.html">Blog Post</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="navbarDropdownPortfolio" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Portfolio</a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownPortfolio">
              <li><a class="dropdown-item" href="portfolio-overview.html">Portfolio Overview</a></li>
              <li><a class="dropdown-item" href="portfolio-item.html">Portfolio Item</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- Header-->
  <header class="bg-dark py-5">
    <div class="container px-5">
      <div class="row gx-5 align-items-center justify-content-center">
        <div class="col-lg-8 col-xl-7 col-xxl-6">
          <div class="my-5 text-center text-xl-start">
            <h1 class="display-5 fw-bolder text-white mb-2">The ultimate web based calculator</h1>
            <p class="lead fw-normal text-white-50 mb-4">Collect Real Time exchange rates of the Rand, The American Dollar, The Zimbabwean Dollar And The British Pound</p>
            <div class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xl-start">
              <a class="btn btn-primary btn-lg px-4 me-sm-3" href="#features">Get Started</a>
              <a class="btn btn-outline-light btn-lg px-4" href="#graphs">Learn More</a>
            </div>
          </div>
        </div>
        <div class="col-xl-5 col-xxl-6 d-none d-xl-block text-center"><img class="img-fluid rounded-3 my-5" th:src="@{/images/download.jpg}" alt="..." /></div>
      </div>
    </div>
  </header>
  <!-- Features section-->
  <section class="py-5" id="features">
    <div class="container px-5 my-5">
      <div class="row gx-5">
        <div class="col-lg-4 mb-5 mb-lg-0"><h2 class="fw-bolder mb-0">Why Convert with Us</h2></div>
        <div class="col-lg-8">
          <div class="row gx-5 row-cols-1 row-cols-md-2">
            <div class="col mb-5 h-100">
              <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-collection"></i></div>
              <h2 class="h5">Superior Customer Service</h2>
              <p class="mb-0">
                Our main priority is the customer. We are here to serve you and make your experience with us easy and smooth. We do not like long queues. Hassle free mode is what we aim for.</p>
            </div>
            <div class="col mb-5 h-100">
              <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-building"></i></div>
              <h2 class="h5">Quick Transactions</h2>
              <p class="mb-0">We know you have a lot going on. 95% of our transactions are authorized in minutes.</p>
            </div>
            <div class="col mb-5 mb-md-0 h-100">
              <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-toggles2"></i></div>
              <h2 class="h5">Safety</h2>
              <p class="mb-0">There is nothing more important to us than making sure your money is safe and arrives where it is meant to arrive, every single time. We have industry-leading technology that protects your money.</p>
            </div>
            <div class="col h-100">
              <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-toggles2"></i></div>
              <h2 class="h5">Affordable</h2>
              <p class="mb-0">Three words - No Hidden Costs!</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <div class="cardCheckout">
    <div class="card">
      <div id="booking" class="section">
        <div class="section-center">
          <div class="container">
            <div class="row">
              <div class="booking-form">
                <div class="form-header">
                  <h1>Convert</h1>
                </div>
        <form method="POST"
              action=/index modelAttribute="rate">
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                    <span class="form-label">Convert from:</span>
                <input class="form-control" type="text" placeholder="Enter Base Currency" th:name="base_currency_code"/>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <span class="form-label">Convert to:</span>
                <input class="form-control" type="text" placeholder="Enter Pair Currency" th:name="pair_currency_code"/>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <span class="form-label">Amount:</span>
                <input class="form-control" type="text" placeholder="Enter Amount" th:name="amount"/>
              </div>
            </div>
            <div class="form-btn">
              <button class="submit-btn">Calculate</button>
            </div>
          </div>
        </form>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
  </div>

  <!-- Testimonial section-->
  <div class="py-5 bg-light">
    <div class="container px-5 my-5">
      <div class="row gx-5 justify-content-center">
        <div class="col-lg-10 col-xl-7">
          <div class="text-center">
            <div class="fs-4 mb-4 fst-italic">"Copyright © Shumba Money is a trading name of Cashsend Ltd, company registration 10512369 , registered and regulated by the Financial Conduct Authority (FCA) under the Payment Service Regulations 2018 for the provision of payment services. Frame Reference Number: 785739"</div>
            <div class="d-flex align-items-center justify-content-center">
              <img class="rounded-circle me-3" src="https://dummyimage.com/40x40/ced4da/6c757d" alt="..." />
              <div class="fw-bold">
                Tom Ato
                <span class="fw-bold text-primary mx-1">/</span>
                © Shumba Money 2020
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->

<script type="javascript">
    google.charts.load('current', {packages: ['corechart', 'line']});
    google.charts.setOnLoadCallback(drawBackgroundColor);

    function drawBackgroundColor() {
        const data = new google.visualization.DataTable();
        data.addColumn('number', 'X');
        data.addColumn('number', 'EUR');

        data.addRows([
            [10/15/21, 1.1599],   [10/18/21, 1.1614],  [10/19/21, 1.1632],  [10/20/21, 1.1650],  [10/21/21, 1.1626],  [10/22/21, 1.1646],
            [10/25/21, 1.1610],  [10/26/21, 1.1596],  [10/27/21, 1.1603],  [10/28/21, 1.1683],  [10/29/21, 1.1563], [11/1/21, 1.1605],
            [11/2/21, 1.1580], [11/3/21, 1.1611], [11/4/21, 1.1557], [11/5/21, 1.1567], [11/8/21, 1.1587], [11/9/21, 1.1596],
            [11/10/21, 1.1478], [11/11/21, 1.1448], [11/12/21, 1.1444], [11/13/21, 1.15]
        ]);

        const options = {
            hAxis: {
                title: 'Date',
                format: 'Date'
            },
            vAxis: {
                title: 'Rate',
                format: 'Currency'
            },
            backgroundColor: '#f1f8e9'
        };

        const chart = new google.visualization.LineChart(document.getElementById('chart_div'));
        chart.draw(data, options);
    }</script>
</main>
</body>

</html>