<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd" >
<head>
    <title>Title</title>
</head>
<body>
    <h2>HTML Forms</h2>

    <form action="/action_page.php" method="post">
        <label for="base_currency_code">First name:</label><br>
        <input type="text" id="base_currency_code" name="base_currency_code" value="John"><br>
        <label for="pair_currency_code">Last name:</label><br>
        <input type="text" id="pair_currency_code" name="pair_currency_code" value="Doe"><br><br>
        <input type="submit" value="Submit">
    </form>

    <p>If you click the "Submit" button, the form-data will be sent to a page called "/action_page.php".</p>
</body>
</html>