<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h3>Welcome, Enter The Employee Details</h3>
<form method="POST"
           action=/rH modelAttribute="rate">
    <table>
        <tr>
            <td><label>Convert from:</label></td>
            <td>
                <input type="text" th:name="base_currency_code"/>
            </td>
        </tr>
        <tr>
            <td><label>Convert to:</label></td>
            <td><input type="text" th:name="pair_currency_code"/></td>
        </tr>
        <tr>
            <td><input type="submit" value="Submit"/></td>
        </tr>
    </table>
</form>
</body>
</html>